<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of python types, lists, and dictionaries

_Author: Kiefer Katovich (SF)_

---

In [1]:
# Enter Student names here:
student_names = ['Carol', 'Guanfong', 'John', 'Samson', 'Zhiwei', 'Ziig', 'Adhish', 'Arsyad', 'Brian', 'Davekho', 'Geraldine', 'Yu Xuan', 'Ivan', 'Jin Howe', 'Joanna', 'Kai', 'Kian How', 'Marcus', 'Matthew', 'Sean', 'Yen Ngee']

---

### 1. What are the types of the following variables?

In [2]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [3]:
# A: a integer, b float, c list, d dictionary, e tuple, f nested dictionary, g boolean, h boolean, i string

---

### 2. What is the difference between a "mutable" and "immutable" object?

In [4]:
# A: mutable object is editable while an immutable object is not

---

### 3. Print the `student_names` list.

In [5]:
print(student_names)

['Carol', 'Guanfong', 'John', 'Samson', 'Zhiwei', 'Ziig', 'Adhish', 'Arsyad', 'Brian', 'Davekho', 'Geraldine', 'Yu Xuan', 'Ivan', 'Jin Howe', 'Joanna', 'Kai', 'Kian How', 'Marcus', 'Matthew', 'Sean', 'Yen Ngee']

---

### 4. Print the names of the first and last students in the list.

In [6]:
print(student_names[0], student_names[2])

('Carol', 'John')

---

### 5. Print the first five names in the student list.

In [7]:
print(student_names[:5])

['Carol', 'Guanfong', 'John', 'Samson', 'Zhiwei']

---

### 6. Combine the ninth and tenth student names into a single string, separated by a space.  Assign that string to a variable.

In [8]:
combine_name = student_names[8] + ' ' + student_names[9]
print(combine_name)

Brian Davekho

---

### 7. Append an animal to the list of animals.

In [9]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [10]:
animals.append('pig')

---

### 8. Print the length of the animals list.

In [11]:
print(len(animals))

7

---

### 9. Divide the length of the fifth animal by the second.

In [12]:
len(animals[4])/len(animals[1])

2

---

### 10. Perform the same division, but ensure output is a decimal number.

In [13]:
float(len(animals[4]))/float(len(animals[1]))

2.3333333333333335

---

### 11. Show two different ways to combine the animals list and the numbers list.

In [14]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [15]:
animals + numbers

['duck',
 'rat',
 'boar',
 'slug',
 'mammoth',
 'gazelle',
 'pig',
 0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0]

In [103]:
animals.extend(numbers)
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'pig', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

---

### 12. Remove 'kiefer' from the list and insert your own in its place.

In [16]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [17]:
names[2] = 'sam'
print(names)

['doug', 'billy', 'sam', 'kian', 'sam']

---

### 13. Sort the following list.

In [81]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [82]:
mix = sorted(mix)
mix

[12, 12.999, {'key': 'value'}, ['billy', 'sam'], 'a', 'flower', (1, 2, 3)]

---

### 14. Manually check whether one element of `mix` is greater than another.

In [98]:
ls = []
for i in range(len(mix)):
    if mix[i-1]>mix[i]:
        ls.append('True')
    else:
        ls.append('False')
ls

['True', 'False', 'False', 'False', 'False', 'False', 'False']

---

### 15. Find the index of `'a'` in the list.

In [41]:
mix.index('a')

4

---

### 16. Reverse the `mix` list.

In [42]:
mix = sorted(mix, reverse=True)
mix

[(1, 2, 3), 'flower', 'a', ['billy', 'sam'], {'key': 'value'}, 12.999, 12]

---

### 17. Remove the last element of `mix`,  and assign it to a variable.

In [46]:
var1 = mix.pop(-1)
var1

12

---

### 18. Count the number of times `0` appears in the following list.

In [47]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [49]:
binary.count(0)

16

---

### 19. Create an SF (San Francisco) zipcode dictionary.

With the following key:value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [71]:
SF_zipcode = {
    'sunset':94122, 'presidio':94129, 'soma':94105, 'marina':94123
}

---

### 20. Get the zipcode for `'soma'`, and assign it to a variable.

In [72]:
var2 = SF_zipcode['soma']
var2

94105

---

### 21. Get the keys out of the dictionary.

In [73]:
SF_zipcode.keys()

['soma', 'presidio', 'sunset', 'marina']

---

### 22. Get the key:value pairs out of the dictionary as a list of tuples.

In [74]:
list(SF_zipcode.items())

[('soma', 94105), ('presidio', 94129), ('sunset', 94122), ('marina', 94123)]

---

### 23. Add the castro district to the dictionary with zipcode 94114.

In [75]:
SF_zipcode['castro'] = 94114
SF_zipcode

{'castro': 94114,
 'marina': 94123,
 'presidio': 94129,
 'soma': 94105,
 'sunset': 94122}

---

### 24. Combine the following smaller dictionary of districts with the SF zip codedictionary.

In [76]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [77]:
SF_zipcode.update(small)
SF_zipcode

{'castro': 94114,
 'dogpatch': 94107,
 'marina': 94123,
 'outer_richmond': 94121,
 'presidio': 94129,
 'soma': 94105,
 'sunset': 94122}

---

### 25. Remove the '`sunset`' zipcode, and assign it to a variable.

In [78]:
var3 = SF_zipcode.pop('sunset')
var3

94122

---

### 26. Check if the 'dogpatch' is in the dictionary.

In [79]:
if 'dogpatch' in SF_zipcode.keys():
    print('dogpatch is present')
else:
    print('none')

dogpatch is present