<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## List and Dictionary Comprehensions: Demo/Exercise

_Author: Kiefer Katovich (SF)_

---

This codealong covers the essentials of performing list and dictionary comprehensions in Python.

In [1]:
import numpy as np
import string

---

### Section 1: Basic list comprehensions

##### 1-A) Add 1 to every element in the list.

In [2]:
numbers = [0,1,2,3,4,5,6,7,8,9]
for i in numbers:
    print(numbers[i] + 1)

1
2
3
4
5
6
7
8
9
10

In [4]:
numbers_plus_one = [number+1 for number in numbers]
numbers_plus_one

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

---

### Section 2: List comprehension: Conditional logic

##### 2-A) "Binarize" `n` so that any value greater than or equal to the mean of `n` is 1, otherwise 0.

In [102]:
n = [1, 2, 7, 21, 3, 1, 62, 3, 34, 12, 73, 44, 12, 11, 9]

In [104]:
b = []
for i in n:
    if i > float(sum(n)/len(n)):
        b.append(1)
    else:
        b.append(0)
b

[0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0]

In [105]:
[1 if i > float(sum(n)/len(n)) else 0 for i in n]

[0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0]

##### 2-B) Swap 1s to 0s and 0s to 1s. If the element is neither a 0 nor 1, make it `None`.

In [107]:
n = [0, 1, 0, 1, 2, 3, 5, 2, 1, 0]

In [108]:
for i in n:
    if i == 0:
        print 1
    elif i == 1:
        print 0
    else:
        print None

1
0
1
0
None
None
None
None
0
1

In [29]:
[1 if i == 0 else 0 if i == 1 else None for i in n]

[1, 0, 1, 0, None, None, None, None, 0, 1]

---

### Section 3: Nested list comprehensions

##### 3-A) Get the square and square root of all non-negative numbers in the list.

In [109]:
n = [0, 1, 50, -23, -1, 75, -3]

In [110]:
for i in n:
    if i>0:
        print (i**2, i**0.5)

(1, 1.0)
(2500, 7.0710678118654755)
(5625, 8.660254037844387)

In [111]:
[(i**2, i**0.5) for i in n if i > 0]

[(1, 1.0), (2500, 7.0710678118654755), (5625, 8.660254037844387)]

---

### Section 4: Functions in list comprehensions

##### 4-A) Combine elements of these two lists item by item into list pairs.

In [115]:
a = ['a','b','c','d']
z = ['z','y','x','w']

In [116]:
tuples = []
for ai in a:
    for zi in z:
        tuples.append((ai,zi))
tuples

[('a', 'z'),
 ('a', 'y'),
 ('a', 'x'),
 ('a', 'w'),
 ('b', 'z'),
 ('b', 'y'),
 ('b', 'x'),
 ('b', 'w'),
 ('c', 'z'),
 ('c', 'y'),
 ('c', 'x'),
 ('c', 'w'),
 ('d', 'z'),
 ('d', 'y'),
 ('d', 'x'),
 ('d', 'w')]

In [60]:
[(x, z[a.index(x)]) for x in a]

[('a', 'z'), ('b', 'y'), ('c', 'x'), ('d', 'w')]

In [118]:
[(ai,zi) for ai,bi in zip(a,z)]

[('a', 'w'), ('b', 'w'), ('c', 'w'), ('d', 'w')]

##### 4-B) Pair each index and element in this list into list pairs.

In [12]:
a = ['a','b','c','d']

In [44]:
[(i, e) for i,e in enumerate(a)]

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

##### 4-C)  Multiply each element in `list_one` by its index and divide by its counterpart in `list_two`.

In [45]:
list_one = [10, 15, 20, 25, 40]
list_two = [1, 2, 3, 4, 5]

In [64]:
[float((i*e)/list_two[i]) for i,e in enumerate(list_one)]

[0.0, 7.0, 13.0, 18.0, 32.0]

---

### Section 5: Nested list comprehensions

##### 5-A) Create all the alphabet "syllables" defined as consonant-vowel pairs in a flattened list [use `for` loop iteration].

In [65]:
import string
vowels = ['a', 'e', 'i', 'o', 'u']
alphabet = string.ascii_lowercase
print alphabet

# for example:
# ['ba','be','bi','bo','bu','ca','ce','ci', ...etc]

abcdefghijklmnopqrstuvwxyz

In [70]:
[a+v for a in alphabet for v in vowels]

['aa',
 'ae',
 'ai',
 'ao',
 'au',
 'ba',
 'be',
 'bi',
 'bo',
 'bu',
 'ca',
 'ce',
 'ci',
 'co',
 'cu',
 'da',
 'de',
 'di',
 'do',
 'du',
 'ea',
 'ee',
 'ei',
 'eo',
 'eu',
 'fa',
 'fe',
 'fi',
 'fo',
 'fu',
 'ga',
 'ge',
 'gi',
 'go',
 'gu',
 'ha',
 'he',
 'hi',
 'ho',
 'hu',
 'ia',
 'ie',
 'ii',
 'io',
 'iu',
 'ja',
 'je',
 'ji',
 'jo',
 'ju',
 'ka',
 'ke',
 'ki',
 'ko',
 'ku',
 'la',
 'le',
 'li',
 'lo',
 'lu',
 'ma',
 'me',
 'mi',
 'mo',
 'mu',
 'na',
 'ne',
 'ni',
 'no',
 'nu',
 'oa',
 'oe',
 'oi',
 'oo',
 'ou',
 'pa',
 'pe',
 'pi',
 'po',
 'pu',
 'qa',
 'qe',
 'qi',
 'qo',
 'qu',
 'ra',
 're',
 'ri',
 'ro',
 'ru',
 'sa',
 'se',
 'si',
 'so',
 'su',
 'ta',
 'te',
 'ti',
 'to',
 'tu',
 'ua',
 'ue',
 'ui',
 'uo',
 'uu',
 'va',
 've',
 'vi',
 'vo',
 'vu',
 'wa',
 'we',
 'wi',
 'wo',
 'wu',
 'xa',
 'xe',
 'xi',
 'xo',
 'xu',
 'ya',
 'ye',
 'yi',
 'yo',
 'yu',
 'za',
 'ze',
 'zi',
 'zo',
 'zu']

##### 5-B) Create all the alphabet "syllables" defined as consonant-vowel pairs in a flattened list [using list comprehension].

---

### Section 6: Dictionary comprehensions

##### 6-A) Make a dictionary in which keys are animals and values are lists, storing the [ASCII](http://www.asciitable.com/) number value of each character in the key.

Hint: Use the **`ord()`** function to convert characters into their ASCII values.

In [79]:
keys = ['dog', 'cat', 'bird', 'horse']

In [85]:
{animal: [ord(char) for char in animal] for animal in keys}

{'bird': [98, 105, 114, 100],
 'cat': [99, 97, 116],
 'dog': [100, 111, 103],
 'horse': [104, 111, 114, 115, 101]}

##### 6-B) Create a dictionary with these column names and the corresponding column values.

In [94]:
column_names = ['height','weight','is_male']
values = [[62, 54, 60, 50], [180, 120, 200, 100], [True, False, True, False]]

In [98]:
{var: values[column_names.index(var)] for var in column_names}

{'height': [62, 54, 60, 50],
 'is_male': [True, False, True, False],
 'weight': [180, 120, 200, 100]}

In [119]:
{var: values[i] for i,var in enumerate(column_names)}

{'height': [62, 54, 60, 50],
 'is_male': [True, False, True, False],
 'weight': [180, 120, 200, 100]}