<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Review python iteration, control flows, and functions

_Author: Kiefer Katovich (SF) and Dave Yerrington (SF)_

---




### Learning Objectives
 
- Explore `Python` control flow and conditional programming.  
- Implement `For` and `While` loops to iterate through data structures.
- Apply `if, else` conditional statements.
- Create functions to perform repetitive actions.
- Demonstrate error-handling using `try, except` statements.
- Combine control flow and conditional statements to solve the classic "FizzBuzz" code challenge.
- Use `Python` control flow and functions to help us parse, clean, edit and analyze the Coffee Preferences dataset.

---
### Lesson Guide

- [If Else Statement](#if_else_statements)
- [Iterating With For Loops](#for_loops)
- [FizzBuzz](#fizz_buzz)
- [Functions](#functions)
- [While Loops](#while_loops)
- [Practice control flow on Coffee Preference dataset](#coffee_preference)

In [1]:
import numpy as np

<a id='if_else_statements'></a>

# If, Else Statements

---

### 1. Write an if-else statement to check whether the suitcase is over 50lb.

Print a message indicating whether or not the suitcase is over 50lbs.

In [6]:
weight = float(input("How many pounds does your suitcase weigh? "))

How many pounds does your suitcase weigh? 30

In [8]:
if weight > 50:
    print True
else:
    print False

False

In [9]:
weight > 50

False

---

### 2. Write an if-else statement for multiple conditions.

Print out these recommendations based on the weather conditions:

1. The temperature is higher than 60 degrees and it is raining: Bring an umbrella.
2. The temperature is lower than or equal to 60 degrees and it is raining: Bring an umbrella and a jacket.
3. The temperature is higher than 60 degrees and the sun is shining: Wear a T-shirt.
4. The temperature is lower than or equal to 60 degrees and the sun is shining: Bring a jacket.

In [10]:
temperature = float(input('What is the temperature? '))
weather = raw_input('What is the weather? (rain or shine) ')

What is the temperature? 100
What is the weather? (rain or shine) shine

In [21]:
if temperature > 60 and weather == 'rain':
    print 'Bring an umbrella'
elif temperature <= 60 and weather == 'rain':
    print 'Bring an umbrella and a jacket'
elif temperature > 60 and weather == 'shine':
     print 'Wear a T-shirt'
elif temperature <= 60 and weather == 'shine':
    print 'Bring a jacket'

Wear a T-shirt

In [350]:
if temperature > 60:
    if weather == 'rain':
        print 'umbrella'
    elif weather == 'shine':
        print 't-shirt'
elif temperature <= 60:
    if weather == 'rain':
        print 'umbrella & jacket'
    elif weather == 'shine':
        print 'jacket'

t-shirt

---
<a id='for_loops'></a>
# For Loops

---
### 3. Write a `for`-loop that iterates from the number 1 to the number 15.

On each iteration, print out the number.

In [30]:
for i in range(1,16):
    print i

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

---

### 4. Iterate from 1 to 15, printing whether the number is odd or even.

Hint: The modulus operator, `%`, can be used to take the remainder. For example:

```python
9 % 5 == 4
```

Or in other words, the remainder of dividing 9 by 5 is 4.

In [352]:
for i in range(1,16):
    if (i%2==0):
        print i, 'even'
    else:
        print i, 'odd'

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd

---
<a id='fizz_buzz'></a>
### 5. Iterate from 1 to 30 with the following instructions:

1. If a number is divisible by 3, print 'fizz'. 
2. If a number is divisible by 5, print 'buzz'. 
3. If a number is both divisible by 3 and 5 print 'fizzbuzz'.
4. Otherwise, print just the number.

In [48]:
for i in range(1,31):
    if i%3==0 and i%5==0:
        print i, 'fizzbuzz'       
    elif i%5==0:
        print i, 'buzz'
    elif i%3==0:
        print i, 'fizz'
    else:
        print i, False

1 False
2 False
3 fizz
4 False
5 buzz
6 fizz
7 False
8 False
9 fizz
10 buzz
11 False
12 fizz
13 False
14 False
15 fizzbuzz
16 False
17 False
18 fizz
19 False
20 buzz
21 fizz
22 False
23 False
24 fizz
25 buzz
26 False
27 fizz
28 False
29 False
30 fizzbuzz

---

### 6. Iterate through the following list of animals, and print each one in all caps.

In [50]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [51]:
for i in animals:
    print i.upper()

DUCK
RAT
BOAR
SLUG
MAMMOTH
GAZELLE

---

### 7. Iterate through the animals list. Capitalize the first letter and append the modified animals to a new list.

In [55]:
new_list = []
for i in animals:
    new_list.append(i.title())
print new_list

['Duck', 'Rat', 'Boar', 'Slug', 'Mammoth', 'Gazelle']

In [353]:
cap_animals = []
for animal in animals:
    cap_animal = animal[0].upper() + animal[1:]
    cap_animals.append(cap_animal)
print cap_animals

['Duck', 'Rat', 'Boar', 'Slug', 'Mammoth', 'Gazelle']

---

### 8. Iterate through the animals. Print out the animal name and the number of vowels in the name.
Hint: You may need to create a variable of vowels for comparison.

In [356]:
vowels = 'aeiouAEIOU'
for animal in animals:
    counter = 0
    for a in animal:
        if a in vowels:
            counter += 1
    print ('{0} has {1} counter(s)'.format(animal, counter))

duck has 1 counter(s)
rat has 1 counter(s)
boar has 2 counter(s)
slug has 1 counter(s)
mammoth has 2 counter(s)
gazelle has 3 counter(s)

---
<a id='functions'></a>
# Functions
---

### 9. Write a function that takes word as an argument and returns the number of vowels in the word.

Try it out on three words.

In [101]:
def num_vowels(word):
    vowels = 'aeiouAEIOU'
    counter = 0
    for a in word:
        if a in vowels:
            counter += 1
    print counter

In [102]:
num_vowels('hello')

2

---

### 10. Write a function to calculate the area of a triangle using its height and width.

Test it out.

In [103]:
def area_triangle(height, width):
    print 0.5*float(height)*float(width)

---
<a id='while_loops'></a>
# While Loops
---

### 11. While loops and strings.

Iterate over the following sentence repeatedly, counting the number of vowels in the sentence until you have tallied one million. Print out the number of iterations it took to reach that amount.

In [106]:
sentence = "A MAN KNOCKED ON MY DOOR AND ASKED FOR A SMALL DONATION TOWARDS THE LOCAL SWIMMING POOL SO I GAVE HIM A GLASS OF WATER"

In [329]:
iterations = 0
counter = 0
vowels = 'aeiouAEIOU'

while counter < 1000000:
    iterations += 1
    for i in sentence:      
        if i in vowels:
            counter += 1    
else:
    print 'iterations:', iterations
    print 'counter:', counter

iterations: 27778
counter: 1000008

---

### 12. Try to convert elements in a list to floats.

Create a new list with the converted numbers. If something cannot be converted, skip it and append nothing to the new list.

In [113]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

In [332]:
new_list = []
for i in corrupted:
    try:
        new_list.append(float(i))
    except:
        pass
print new_list

[23.1, 0.12, -11.1, 1000.0]

---
<a id='coffee_preference'></a>

# Practice control flow on Coffee Preference dataset

### 13. Load coffee preference data from file and print

The code to load in the data is provided below. 

The `with open(..., 'r') as f:` opens up a file in "read" mode (rather than "write"), and assigns this opened file to `f`. 

We can then use the `.readlines()` built-in function to split the csv file on newlines and assign it to the variable `lines`.

In [357]:
with open('datasets/coffee-preferences.csv','r') as f:
    lines = f.readlines()

#### Iterate through lines and print them out

In [358]:
for line in lines:
    print line

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe

3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,

3/17/2015 18:38:09,April,4,5,5,3,,,3,,5

3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1

3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3

3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,

3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3

3/17/2015 18:39:01,Dave H,4,5,,5,,,,,

3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2

3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4

3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1

3/17/2015 18:39:23,Alex,4,5,,3,,,,,

3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,

3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3

3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5

3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2

3/17/2015 18:40:49,Markus,3,5,,3,,,4,,

3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3

3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,

3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3

3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,

#### Print out just the lines object by typing `lines` in a cell and hitting enter.

In [343]:
lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe\n',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1\n',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 14. Remove the remaining newline `'\n'` characters with a for-loop.

Iterate through the lines of the data and remove the unwanted newline characters.

**.replace('\n', '')** is a built-in string function that will take the substring you want to replace as its first argument and the string you want to replace it with as its second.

In [344]:
lines = [l.replace('\n', '') for l in lines]
lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

In [359]:
cleaned_lines = []
for l in lines:
    cleaned_lines.append(l.replace('\n', ''))
cleaned_lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 15. Split the lines into "header" and "data" variables.

The header is the first string in the list of strings. It contains the column names of our data.

In [360]:
header = cleaned_lines[0]
data = cleaned_lines[1:]

---

### 16. Split the header and the data strings on commas.

To split a string on the comma character, use the built in **`.split(',')`** function. 

Split the header on commas, then print it. You can see that the original string is now a list containing items that were originally separated by commas.

In [361]:
header = header.split(',')
print header 

split_data = []
for i in data:
    split_data.append(i.split(','))
print split_data

['Timestamp', 'Name', 'Starbucks', 'PhilzCoffee', 'BlueBottleCoffee', 'PeetsTea', 'CaffeTrieste', 'GrandCoffee', 'RitualCoffee', 'FourBarrel', 'WorkshopCafe']
[['3/17/2015 18:37:58', 'Alison', '3', '5', '4', '3', '', '', '5', '5', ''], ['3/17/2015 18:38:09', 'April', '4', '5', '5', '3', '', '', '3', '', '5'], ['3/17/2015 18:38:25', 'Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1'], ['3/17/2015 18:38:28', 'Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3'], ['3/17/2015 18:38:46', 'Isabel', '1', '4', '4', '2', '4', '', '4', '4', ''], ['3/17/2015 18:39:01', 'India', '5', '3', '3', '3', '3', '1', '', '', '3'], ['3/17/2015 18:39:01', 'Dave H', '4', '5', '', '5', '', '', '', '', ''], ['3/17/2015 18:39:05', 'Deepthi', '3', '5', '', '2', '', '', '', '', '2'], ['3/17/2015 18:39:14', 'Ramesh', '3', '4', '', '3', '', '', '', '', '4'], ['3/17/2015 18:39:23', 'Hugh Jass', '1', '5', '5', '4', '5', '2', '5', '4', '1'], ['3/17/2015 18:39:23', 'Alex', '4', '5', '', '3', '', '', '', '', ''], ['3/17/2015 18:39:30', 'Ajay Anand', '3', '4', '4', '3', '5', '', '', '', ''], ['3/17/2015 18:39:35', 'David Feng', '2', '3', '4', '2', '2', '', '5', '4', '3'], ['3/17/2015 18:39:42', 'Zach', '3', '4', '4', '3', '', '', '', '', '5'], ['3/17/2015 18:40:44', 'Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2'], ['3/17/2015 18:40:49', 'Markus', '3', '5', '', '3', '', '', '4', '', ''], ['3/17/2015 18:41:18', 'Otto', '4', '2', '2', '5', '', '', '3', '3', '3'], ['3/17/2015 18:41:23', 'Alessandro', '1', '5', '3', '2', '', '', '4', '3', ''], ['3/17/2015 18:41:35', 'Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3'], ['3/17/2015 18:42:01', 'cheong-tseng eng', '3', '1', '', '', '', '', '4', '', '']]

---

### 17. Remove the "Timestamp" column.

We aren't interested in the "Timestamp" column in our data, so remove it from the header and the data list.

Removing the Timestamp from the header can be done with list functions or with slicing. To remove the header column from the data, use a for-loop.

Print out the new data object with the timestamps removed.

In [407]:
header.remove('Timestamp')
header

['Name',
 'Starbucks',
 'PhilzCoffee',
 'BlueBottleCoffee',
 'PeetsTea',
 'CaffeTrieste',
 'GrandCoffee',
 'RitualCoffee',
 'FourBarrel',
 'WorkshopCafe']

In [367]:
data_nots = []
for row in split_data:
    data_nots.append(row[1:])

In [369]:
data_nots

[['Alison', '3', '5', '4', '3', '', '', '5', '5', ''],
 ['April', '4', '5', '5', '3', '', '', '3', '', '5'],
 ['Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1'],
 ['Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3'],
 ['Isabel', '1', '4', '4', '2', '4', '', '4', '4', ''],
 ['India', '5', '3', '3', '3', '3', '1', '', '', '3'],
 ['Dave H', '4', '5', '', '5', '', '', '', '', ''],
 ['Deepthi', '3', '5', '', '2', '', '', '', '', '2'],
 ['Ramesh', '3', '4', '', '3', '', '', '', '', '4'],
 ['Hugh Jass', '1', '5', '5', '4', '5', '2', '5', '4', '1'],
 ['Alex', '4', '5', '', '3', '', '', '', '', ''],
 ['Ajay Anand', '3', '4', '4', '3', '5', '', '', '', ''],
 ['David Feng', '2', '3', '4', '2', '2', '', '5', '4', '3'],
 ['Zach', '3', '4', '4', '3', '', '', '', '', '5'],
 ['Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2'],
 ['Markus', '3', '5', '', '3', '', '', '4', '', ''],
 ['Otto', '4', '2', '2', '5', '', '', '3', '3', '3'],
 ['Alessandro', '1', '5', '3', '2', '', '', '4', '3', ''],
 ['Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3'],
 ['cheong-tseng eng', '3', '1', '', '', '', '', '4', '', '']]

---

### 18. Convert numeric columns to floats and empty fields to `None`.

Iterate through the data, and construct a new data list of lists that contains the numeric ratings converted from strings into floats and the empty fields (which are empty strings '') replaced with the None object.

Use a nested for loop (a for loop within another for loop) to get the job done. You will likely need to use if-else conditional statements as well.

Print out the new data object to make sure you've succeeded.

In [370]:
converted_data = []
for data in data_nots:
    converted = []
    converted.append(data[0])
    for i in data[1:]:
        try:
            converted.append(float(i))
        except:
            converted.append(None)
    converted_data.append(converted)
print(converted_data)

[['Alison', 3.0, 5.0, 4.0, 3.0, None, None, 5.0, 5.0, None], ['April', 4.0, 5.0, 5.0, 3.0, None, None, 3.0, None, 5.0], ['Vijay', 3.0, 5.0, 5.0, 5.0, 3.0, 2.0, 1.0, 1.0, 1.0], ['Vanessa', 1.0, 5.0, 5.0, 2.0, None, None, 3.0, 2.0, 3.0], ['Isabel', 1.0, 4.0, 4.0, 2.0, 4.0, None, 4.0, 4.0, None], ['India', 5.0, 3.0, 3.0, 3.0, 3.0, 1.0, None, None, 3.0], ['Dave H', 4.0, 5.0, None, 5.0, None, None, None, None, None], ['Deepthi', 3.0, 5.0, None, 2.0, None, None, None, None, 2.0], ['Ramesh', 3.0, 4.0, None, 3.0, None, None, None, None, 4.0], ['Hugh Jass', 1.0, 5.0, 5.0, 4.0, 5.0, 2.0, 5.0, 4.0, 1.0], ['Alex', 4.0, 5.0, None, 3.0, None, None, None, None, None], ['Ajay Anand', 3.0, 4.0, 4.0, 3.0, 5.0, None, None, None, None], ['David Feng', 2.0, 3.0, 4.0, 2.0, 2.0, None, 5.0, 4.0, 3.0], ['Zach', 3.0, 4.0, 4.0, 3.0, None, None, None, None, 5.0], ['Matt', 3.0, 5.0, 4.0, 3.0, 2.0, 2.0, 4.0, 3.0, 2.0], ['Markus', 3.0, 5.0, None, 3.0, None, None, 4.0, None, None], ['Otto', 4.0, 2.0, 2.0, 5.0, None, None, 3.0, 3.0, 3.0], ['Alessandro', 1.0, 5.0, 3.0, 2.0, None, None, 4.0, 3.0, None], ['Rocky', 3.0, 5.0, 4.0, 3.0, 3.0, 3.0, 4.0, 4.0, 3.0], ['cheong-tseng eng', 3.0, 1.0, None, None, None, None, 4.0, None, None]]

In [375]:
data_num = []
for row in data_nots:
    new_row = []
    for i, col in enumerate(row):
        if i == 0:
            new_row.append(col)
        elif col == '':
            new_row.append(None)
        else:
            new_row.append(float(col))
    data_num.append(new_row)
    
data_num

[['Alison', 3.0, 5.0, 4.0, 3.0, None, None, 5.0, 5.0, None],
 ['April', 4.0, 5.0, 5.0, 3.0, None, None, 3.0, None, 5.0],
 ['Vijay', 3.0, 5.0, 5.0, 5.0, 3.0, 2.0, 1.0, 1.0, 1.0],
 ['Vanessa', 1.0, 5.0, 5.0, 2.0, None, None, 3.0, 2.0, 3.0],
 ['Isabel', 1.0, 4.0, 4.0, 2.0, 4.0, None, 4.0, 4.0, None],
 ['India', 5.0, 3.0, 3.0, 3.0, 3.0, 1.0, None, None, 3.0],
 ['Dave H', 4.0, 5.0, None, 5.0, None, None, None, None, None],
 ['Deepthi', 3.0, 5.0, None, 2.0, None, None, None, None, 2.0],
 ['Ramesh', 3.0, 4.0, None, 3.0, None, None, None, None, 4.0],
 ['Hugh Jass', 1.0, 5.0, 5.0, 4.0, 5.0, 2.0, 5.0, 4.0, 1.0],
 ['Alex', 4.0, 5.0, None, 3.0, None, None, None, None, None],
 ['Ajay Anand', 3.0, 4.0, 4.0, 3.0, 5.0, None, None, None, None],
 ['David Feng', 2.0, 3.0, 4.0, 2.0, 2.0, None, 5.0, 4.0, 3.0],
 ['Zach', 3.0, 4.0, 4.0, 3.0, None, None, None, None, 5.0],
 ['Matt', 3.0, 5.0, 4.0, 3.0, 2.0, 2.0, 4.0, 3.0, 2.0],
 ['Markus', 3.0, 5.0, None, 3.0, None, None, 4.0, None, None],
 ['Otto', 4.0, 2.0, 2.0, 5.0, None, None, 3.0, 3.0, 3.0],
 ['Alessandro', 1.0, 5.0, 3.0, 2.0, None, None, 4.0, 3.0, None],
 ['Rocky', 3.0, 5.0, 4.0, 3.0, 3.0, 3.0, 4.0, 4.0, 3.0],
 ['cheong-tseng eng', 3.0, 1.0, None, None, None, None, 4.0, None, None]]

---

### 19. Count the `None` values per person, and put counts in a dictionary.

Use a for loop to count the number of `None` values per person. Create a dictionary with the names of the people as keys, and the counts of `None` as values.

Who rated the most coffee brands? Who rated the least?

In [379]:
user_none = {row[0]: row.count(None) for row in data_num}
user_none

{'Ajay Anand': 4,
 'Alessandro': 3,
 'Alex': 6,
 'Alison': 3,
 'April': 3,
 'Dave H': 6,
 'David Feng': 1,
 'Deepthi': 5,
 'Hugh Jass': 0,
 'India': 2,
 'Isabel': 2,
 'Markus': 5,
 'Matt': 0,
 'Otto': 2,
 'Ramesh': 5,
 'Rocky': 0,
 'Vanessa': 2,
 'Vijay': 0,
 'Zach': 4,
 'cheong-tseng eng': 6}

In [258]:
dict = {}
for i in range(len(converted_data)):
    dict[converted_data[i][0]] = converted_data[i].count(None)

In [287]:
sorted_dict = sorted(dict.iteritems(), key=lambda (k,v): (v,k), reverse=True)
print 'rated most:', sorted_dict[0]
print 'rated least:', sorted_dict[-1]

rated most: ('cheong-tseng eng', 6)
rated least: ('Hugh Jass', 0)

In [295]:
for key, value in sorted(dict.iteritems(), key=lambda (k,v): (v,k), reverse=True):
    print "%s: %s" % (key, value)

cheong-tseng eng: 6
Dave H: 6
Alex: 6
Ramesh: 5
Markus: 5
Deepthi: 5
Zach: 4
Ajay Anand: 4
April: 3
Alison: 3
Alessandro: 3
Vanessa: 2
Otto: 2
Isabel: 2
India: 2
David Feng: 1
Vijay: 0
Rocky: 0
Matt: 0
Hugh Jass: 0

---

### 20. Calculate average rating per coffee brand.

**Excluding `None` values**, calculate the average rating per brand of coffee.

The final output should be a dictionary with keys as the coffee brand names, and their average rating as the values.

Remember that average can be calculated as the sum of the ratings over the number of ratings:

```python
average_rating = float(sum(ratings_list))/len(ratings_list)
```

Print your dictionary to see the average brand ratings.

In [440]:
data_num[:2]

[['Alison', 3.0, 5.0, 4.0, 3.0, None, None, 5.0, 5.0, None],
 ['April', 4.0, 5.0, 5.0, 3.0, None, None, 3.0, None, 5.0]]

In [441]:
header

['Name',
 'Starbucks',
 'PhilzCoffee',
 'BlueBottleCoffee',
 'PeetsTea',
 'CaffeTrieste',
 'GrandCoffee',
 'RitualCoffee',
 'FourBarrel',
 'WorkshopCafe']

In [453]:
brand_ratings = {}

for brand in header[1:]:
    brand_ratings[brand] = []

for row in data_num:
    for i, cell in enumerate(row):
        if i > 0 and cell is not None:
            brand = header[i]
            brand_ratings[brand].append(cell)

In [458]:
brand_average_rating = {}

for brand, ratings in brand_ratings.items():
    print brand, ratings
    brand_average_rating[brand] = float(sum(ratings))/len(ratings)

brand_average_rating

PhilzCoffee [5.0, 5.0, 5.0, 5.0, 4.0, 3.0, 5.0, 5.0, 4.0, 5.0, 5.0, 4.0, 3.0, 4.0, 5.0, 5.0, 2.0, 5.0, 5.0, 1.0]
WorkshopCafe [5.0, 1.0, 3.0, 3.0, 2.0, 4.0, 1.0, 3.0, 5.0, 2.0, 3.0, 3.0]
RitualCoffee [5.0, 3.0, 1.0, 3.0, 4.0, 5.0, 5.0, 4.0, 4.0, 3.0, 4.0, 4.0, 4.0]
BlueBottleCoffee [4.0, 5.0, 5.0, 5.0, 4.0, 3.0, 5.0, 4.0, 4.0, 4.0, 4.0, 2.0, 3.0, 4.0]
Starbucks [3.0, 4.0, 3.0, 1.0, 1.0, 5.0, 4.0, 3.0, 3.0, 1.0, 4.0, 3.0, 2.0, 3.0, 3.0, 3.0, 4.0, 1.0, 3.0, 3.0]
PeetsTea [3.0, 3.0, 5.0, 2.0, 2.0, 3.0, 5.0, 2.0, 3.0, 4.0, 3.0, 3.0, 2.0, 3.0, 3.0, 3.0, 5.0, 2.0, 3.0]
GrandCoffee [2.0, 1.0, 2.0, 2.0, 3.0]
FourBarrel [5.0, 1.0, 2.0, 4.0, 4.0, 4.0, 3.0, 3.0, 3.0, 4.0]
CaffeTrieste [3.0, 4.0, 3.0, 5.0, 5.0, 2.0, 2.0, 3.0]

{'BlueBottleCoffee': 4.0,
 'CaffeTrieste': 3.375,
 'FourBarrel': 3.3,
 'GrandCoffee': 2.0,
 'PeetsTea': 3.1052631578947367,
 'PhilzCoffee': 4.25,
 'RitualCoffee': 3.769230769230769,
 'Starbucks': 2.85,
 'WorkshopCafe': 2.9166666666666665}

In [409]:
brand_ratings = {}

# Initialize the dictionary with (brand,[]).
# Each line will contains the ratings for a given brand.
for brand in header[1:]:
    brand_ratings[brand] = []

for row in data_num:
    for i, cell in enumerate(row):
        if i > 0 and not cell == None:
            brand = header[i]
            brand_ratings[brand].append(cell)

In [412]:
{brand: [] for brand in header}

{'BlueBottleCoffee': [],
 'CaffeTrieste': [],
 'FourBarrel': [],
 'GrandCoffee': [],
 'Name': [],
 'PeetsTea': [],
 'PhilzCoffee': [],
 'RitualCoffee': [],
 'Starbucks': [],
 'WorkshopCafe': []}

In [415]:
brand_avg_ratings = {}
for brand, ratings in brand_ratings.items():
    print brand, ratings
    brand_avg_ratings[brand] = float(sum(ratings))/len(ratings)

brand_avg_ratings

PhilzCoffee [5.0, 5.0, 5.0, 5.0, 4.0, 3.0, 5.0, 5.0, 4.0, 5.0, 5.0, 4.0, 3.0, 4.0, 5.0, 5.0, 2.0, 5.0, 5.0, 1.0]
WorkshopCafe [5.0, 1.0, 3.0, 3.0, 2.0, 4.0, 1.0, 3.0, 5.0, 2.0, 3.0, 3.0]
RitualCoffee [5.0, 3.0, 1.0, 3.0, 4.0, 5.0, 5.0, 4.0, 4.0, 3.0, 4.0, 4.0, 4.0]
BlueBottleCoffee [4.0, 5.0, 5.0, 5.0, 4.0, 3.0, 5.0, 4.0, 4.0, 4.0, 4.0, 2.0, 3.0, 4.0]
Starbucks [3.0, 4.0, 3.0, 1.0, 1.0, 5.0, 4.0, 3.0, 3.0, 1.0, 4.0, 3.0, 2.0, 3.0, 3.0, 3.0, 4.0, 1.0, 3.0, 3.0]
PeetsTea [3.0, 3.0, 5.0, 2.0, 2.0, 3.0, 5.0, 2.0, 3.0, 4.0, 3.0, 3.0, 2.0, 3.0, 3.0, 3.0, 5.0, 2.0, 3.0]
GrandCoffee [2.0, 1.0, 2.0, 2.0, 3.0]
FourBarrel [5.0, 1.0, 2.0, 4.0, 4.0, 4.0, 3.0, 3.0, 3.0, 4.0]
CaffeTrieste [3.0, 4.0, 3.0, 5.0, 5.0, 2.0, 2.0, 3.0]

{'BlueBottleCoffee': 4.0,
 'CaffeTrieste': 3.375,
 'FourBarrel': 3.3,
 'GrandCoffee': 2.0,
 'PeetsTea': 3.1052631578947367,
 'PhilzCoffee': 4.25,
 'RitualCoffee': 3.769230769230769,
 'Starbucks': 2.85,
 'WorkshopCafe': 2.9166666666666665}

---

### 21. Create a list containing only the people's names.

In [419]:
[row[0] for row in data_num]

['Alison',
 'April',
 'Vijay',
 'Vanessa',
 'Isabel',
 'India',
 'Dave H',
 'Deepthi',
 'Ramesh',
 'Hugh Jass',
 'Alex',
 'Ajay Anand',
 'David Feng',
 'Zach',
 'Matt',
 'Markus',
 'Otto',
 'Alessandro',
 'Rocky',
 'cheong-tseng eng']

---

### 22. Picking a name at random. What are the odds of choosing the same name three times in a row?

Now we'll use a while-loop to "brute force" the odds of choosing the same name 3 times in a row randomly from the list of names.

Below I've imported the **`random`** package, which has the essential function for this code **`random.choice()`**.
The function takes a list as an argument, and returns one of the elements of that list at random.

In [420]:
import random
# Choose a random person from the list of people:
# random.choice(people)

Write a function to choose a person from the list randomly three times and check if they are all the same

Define a function that has the following properties:

1. Takes a list (your list of names) as an argument.
2. Selects a name using `random.choice(people)` three separate times.
3. Returns `True` if the name was the same all three times. Otherwise returns `False`.

In [421]:
def choose_three(name_list):
    person1 = random.choice(name_list)
    person2 = random.choice(name_list)
    person3 = random.choice(name_list)
    if person1 == person2 == person3:
        return True
    else:
        return False

---

### 23. Construct a while loop to run the choosing function until it returns True.

Run the function until you draw the same person three times using a while-loop. Keep track of how many tries it took and print out the number of tries after it runs.

In [422]:
name_list = ['Carol', 'Guanfong', 'John', 'Samson', 'Zhiwei', 'Ziig', 'Adhish', 'Arsyad', 'Brian', 'Davekho', 'Geraldine', 'Yu Xuan', 'Ivan', 'Jin Howe', 'Joanna', 'Kai', 'Kian How', 'Marcus', 'Matthew', 'Sean', 'Yen Ngee']

In [434]:
tries = 0
while choose_three(name_list) is False:
    choose_three(name_list)
    tries += 1
    if choose_three(name_list) is True:
        break
    
print tries

263

In [437]:
def experiment():
    tries = 0
    while choose_three(name_list) is False:
        choose_three(name_list)
        tries += 1
        if choose_three(name_list) is True:
            break
    return tries

In [439]:
for i in range(100):
    print(experiment())

103
17
222
264
272
327
164
68
1
241
407
32
468
24
694
53
9
524
387
324
418
576
89
130
67
453
263
1325
327
88
126
372
10
408
247
9
186
208
223
147
2
101
223
58
301
89
244
240
808
98
281
116
38
34
228
16
62
114
178
54
186
103
795
546
28
49
1005
484
8
85
27
227
179
237
9
168
8
428
57
556
479
11
159
350
130
306
249
178
272
30
135
627
168
208
188
321
543
437
164
269