<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# `pandas` Data Munging Overview: Part 2

_Authors: Joseph Nelson (DC)_

---

**Warning: This is a resource-heavy notebook that can consume a lot of RAM, especially when it's run in Chrome. For this lesson, you may want to close idle applications and/or open this notebook with Safari.**

### Lesson Guide
- [Exercise #3](#exercise-3)
- [Split-Apply-Combine](#split-apply-combine)
    - [`.groupby()`](#groupby)
    - [Apply Functions to Groups and Combine](#apply-combine)
- [Exercise #4](#exercise-4)
- [Indexing](#indexing)
    - [Location Indexing With `.loc()`](#loc)
    - [Position Indexing With `.iloc()`](#iloc)
- [Other Frequently Used Features](#frequent)
    - [Using Map Functions With Replacement Dictionaries](#map-dict)
    - [Encoding Strings as Integers With `.factorize()`](#factorize)
    - [Determining Unique Values](#unique)
    - [Replacing Values With `.replace()`](#replace)
    - [Series String Methods With `.str`](#series-str)
    - [Datetime Conversion and Arithmetic](#datetime)
    - [Setting and Resetting the Index](#set-reset-index)
    - [Sorting by Index](#sort-by-index)
    - [Changing the Data Type of a Column](#change-dtype)
    - [Creating Dummy-Coded Columns](#dummy)
    - [Concatenating DataFrames](#concatenate)
    - [Detecting and Dropping Duplicate Rows](#duplicate-rows)
    - [Writing a DataFrame to a `.csv`](#write-csv)
    - [Pickling a DataFrame](#pickle)
    - [Randomly Sampling a DataFrame](#sample)
- [Infrequently Used Features](#infrequent)
    - [Creating DataFrames From Dictionaries and Lists of Lists](#toy-dataframes)
    - [Performing Cross-Tabulations](#crosstab)
    - [Query-Filtering Syntax](#query)
    - [Calculating Memory Usage](#memory-usage)
    - [Converting Column to Category Type](#category-type)
    - [Creating Columns With `.assign()`](#assign)
    - [Limiting the Number of Rows to Load in a File Read](#limit-rows-read)
    - [Manually Setting the Number of Rows and Columns to Print](#manual-print)

In [1]:
import pandas as pd

<a id='exercise-3'></a>
## Exercise #3

---

**Using the UFO data provided below:**
1. Read in the data.
2. Check the shape and describe the columns.
3. Find the four most frequently reported colors.
4. Find the most frequent city for reports in state `VA`.
5. Find only UFO reports from Arlington, VA.
6. Find the number of missing values in each column.
7. Show only UFO reports where `city` is missing.
8. Count the number of rows with no null values.
9. Amend column names with spaces to have underscores.
10. Make a new column that is a combination of `city` and `state`.

In [2]:
ufo_csv = 'https://git.generalassemb.ly/dsi-unit-2/pandas-data_munging_full_overview-lesson/tree/master/datasets/ufo.csv'
ufo_csv = 'datasets/ufo.csv'

In [3]:
df = pd.read_csv(ufo_csv)

In [6]:
print df.shape
print df.info()
print df.describe(include='all')

(80543, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80543 entries, 0 to 80542
Data columns (total 5 columns):
City               80496 non-null object
Colors Reported    17034 non-null object
Shape Reported     72141 non-null object
State              80543 non-null object
Time               80543 non-null object
dtypes: object(5)
memory usage: 3.1+ MB
None
           City Colors Reported Shape Reported  State            Time
count     80496           17034          72141  80543           80543
unique    13504              31             27     52           68901
top     Seattle          ORANGE          LIGHT     CA  7/4/2014 22:00
freq        646            5216          16332  10743              45

In [10]:
df.groupby('Colors Reported').size().sort_values(ascending=False).head(4)

Colors Reported
ORANGE    5216
RED       4809
GREEN     1897
BLUE      1855
dtype: int64

In [11]:
df[df['State']=='VA'].groupby('City').size().sort_values(ascending=False).head(4)

City
Virginia Beach    110
Richmond           92
Alexandria         48
Roanoke            35
dtype: int64

In [12]:
df[(df['State']=='VA') & (df['City']=='Arlington')]

            City Colors Reported Shape Reported State              Time
202    Arlington           GREEN           OVAL    VA   7/13/1952 21:00
6300   Arlington             NaN        CHEVRON    VA    5/5/1990 21:40
10278  Arlington             NaN           DISK    VA   5/27/1997 15:30
14527  Arlington             NaN          OTHER    VA   9/10/1999 21:41
17984  Arlington             RED           DISK    VA  11/19/2000 22:00
21201  Arlington           GREEN       FIREBALL    VA    1/7/2002 17:45
22633  Arlington             NaN          LIGHT    VA    7/26/2002 1:15
22780  Arlington             NaN          LIGHT    VA    8/7/2002 21:00
25066  Arlington             NaN          CIGAR    VA    6/1/2003 22:34
27398  Arlington             NaN        VARIOUS    VA   12/13/2003 2:00
30608  Arlington             NaN         CIRCLE    VA   10/9/2004 22:30
31316  Arlington             NaN      FORMATION    VA   12/13/2004 0:30
35787  Arlington             NaN          LIGHT    VA   3/15/2006 22:30
37036  Arlington             NaN       TRIANGLE    VA    8/1/2006 22:00
39673  Arlington             NaN          LIGHT    VA    4/7/2007 18:45
41083  Arlington             NaN          FLASH    VA    8/15/2007 1:30
44562  Arlington             NaN       TRIANGLE    VA    6/6/2008 21:55
45450  Arlington             NaN           OVAL    VA    8/2/2008 20:30
48679  Arlington             NaN         SPHERE    VA   4/24/2009 17:45
54613  Arlington             NaN          LIGHT    VA   9/17/2010 19:00
54944  Arlington             NaN         SPHERE    VA  10/12/2010 19:00
70462  Arlington             NaN       FIREBALL    VA   6/25/2013 23:00
72856  Arlington             RED         SPHERE    VA   9/26/2013 21:20
73408  Arlington             NaN         CIRCLE    VA   10/19/2013 0:17
73747  Arlington             NaN          LIGHT    VA   11/1/2013 22:42
76144  Arlington             NaN          CIGAR    VA   2/21/2014 14:30
76325  Arlington             NaN            NaN    VA    3/1/2014 20:00
76337  Arlington             NaN      FORMATION    VA    3/1/2014 23:30
77807  Arlington      RED ORANGE          LIGHT    VA   5/24/2014 22:30
79122  Arlington             NaN         CIRCLE    VA    7/7/2014 21:00

<a id='split-apply-combine'></a>
## Split-Apply-Combine

---

![](assets/split_apply_combine.png)

<a id='groupby'></a>
### `.groupby()`

**Q.1** Using the `drinks` DataFrame, calculate the mean `beer` servings by continent.

In [ ]:
drinks =pd.read_csv('datasets/drinks_updated.csv')

In [ ]:
# A:

**Q.2** Describe the `beer` column by continent.

In [ ]:
# A:

<a id='apply-combine'></a>
### Apply Functions to Groups and Combine

**Q.1** Find the `count`, `mean`, `minimum`, and `maximum `of the `beer` column by continent.

In [ ]:
# A:

**Q.2** Perform the same task as in Q.1, but now sort the output by the `mean` column.

In [ ]:
# A:

**Q.3** Apply a custom function to all columns of the `drinks` DataFrame, grouping by continent.

In [ ]:
# A:

**Q.4** **Note:** If you don't specify a column for the aggregation function, it will be applied to all numeric columns.

In [ ]:
# A:

<a id='exercise-4'></a>

## Exercise #4

---

**Using the `users` DataFrame**:
1. Count the number of distinct occupations in `users`.
2. Calculate the mean age by occupation.
3. Calculate the minimum and maximum age by occupation.
4. Calculate the mean age by cross-sections of `occupation` and `gender`.

> **Tip**: Multiple columns can be passed to the `.groupby()` function for more granular cross-sections.

In [ ]:
# A:

<a id='indexing'></a>
## Indexing

---
<a id='loc'></a>
### Location Indexing With `.loc()`

**Q.1** Select all rows and the `city` column from the UFO data set using `.loc()`.

In [ ]:
# A:

**Q.2** Select all rows and columns in `city` and `state`.

In [ ]:
# A:

**Q.3** Select all rows and columns from `city` *through* `state`.

In [ ]:
# A:

**Q.4** Select:
- All columns at row 0.
- All columns at rows 0:2.
- Columns `city` through `state` at rows 0:2.

In [ ]:
# A:

<a id='iloc'></a>
### Position indexing with `.iloc`

**Q.1** Select all rows and columns in position 0 and 3.

In [ ]:
# A:

**Q.2** Select all rows and columns in positions 0 through 4.

In [ ]:
# A:

**Q.3** Select rows in positions 0:3, along with all columns.

In [ ]:
# A:

<a id='frequent'></a>
## Frequently Used Features

---
<a id='map-dict'></a>
### Using Map Functions With Replacement Dictionaries

In [ ]:
# A:

<a id='factorize'></a>
### Encoding Strings as Integers With `.factorize()`

In [ ]:
# A:

<a id='unique'></a>
### Determining Unique Values

In [ ]:
# A:

<a id='replace'></a>
### Replacing Values With `.replace()`

In [ ]:
# A:

<a id='series-str'></a>
### Series String Methods With `.str`

In [ ]:
# A:

<a id='datetime'></a>
### Datetime Conversion and Arithmetic

In [ ]:
# A:

<a id='set-reset-index'></a>
### Setting and Resetting the Index

In [ ]:
# A:

<a id='sort-by-index'></a>
### Sorting by Index

In [ ]:
# A:

<a id='change-dtype'></a>
### Changing the Data Type of a Column

In [ ]:
# A:

<a id='dummy'></a>
### Creating Dummy-Coded Columns

In [ ]:
# A:

<a id='concatenate'></a>
### Concatenating DataFrames

In [ ]:
# A:

<a id='duplicate-rows'></a>
### Detecting and Dropping Duplicate Rows

In [ ]:
# A:

<a id='write-csv'></a>
### Writing a DataFrame to a `.csv`
```python
# Write a DataFrame out to a `.csv`.
drinks.to_csv('drinks_updated.csv')  # Index is used as the first column
drinks.to_csv('drinks_updated.csv', index=False) # Ignore index
```

<a id='pickle'></a>
### Pickling a DataFrame
```python
# Save a DataFrame to disk (a.k.a., "pickle") and read it from disk (a.k.a., "unpickle").
drinks.to_pickle('drinks_pickle')
pd.read_pickle('drinks_pickle')
```

<a id='sample'></a>
### Randomly Sampling a DataFrame

In [ ]:
# A:

<a id='infrequent'></a>
## Infrequently Used Features

---

<a id='toy-dataframes'></a>
### Creating DataFrames From Dictionaries and Lists of Lists

In [ ]:
# A:

In [ ]:
# A:

<a id='crosstab'></a>
### Performing Cross-Tabulations

In [ ]:
# A:

<a id='query'></a>
### Query-Filtering Syntax

In [ ]:
# A:

<a id='memory-usage'></a>
### Calculating Memory Usage

In [ ]:
# A:

<a id='category-type'></a>
### Converting Column to Category Type

In [ ]:
# A:

<a id='assign'></a>
### Creating Columns With `.assign()`

In [ ]:
# A:

<a id='limit-rows-read'></a>
### Limiting the Number of Rows to Load in a File Read

In [ ]:
# A:

<a id='manual-print'></a>
### Manually Setting the Number of Rows and Columns to Print

In [ ]:
# A:

In [ ]:
# A: