<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Time Series and Datetime

_Authors: Samuel Stack (DC)_

---

### Learning Objectives
- Use the datetime library to represent dates as objects.
- Learn how to calculate time differences with `timedelta()`.
- Use datetime objects in Pandas on the UFO reports data set.

### Lesson Guide
- [The Datetime Library](#the-datetime-library)
- [Datetime Objects](#datetime-object)
- [`timedelta()`](#timedelta)
- [Load the UFO Reports Data](#load-the-ufo-reports-data)
- [Pandas' `pd.datetime`](#pandas-pddatetime)
	- [The `.dt` Attribute](#the-dt-attribute)
- [Timestamps](#timestamps)
- [Additional Resources](#additional-resources)

<a id="the-datetime-library"></a>
## The Datetime Library
---

Python's `datetime` library is great for dealing with time-related data, and Pandas has incorporated this library into its own datetime series and objects.

In this lesson, we'll review these data types and learn a little more about each of them:

- Datetime objects.
- Datetime series.
- Timestamps.
- `timedelta()`.

<a id="datetime-object"></a>
## Datetime Objects
---

Below, we load in the datetime library, which we can use to create a datetime object by entering in the different components of the date as arguments.

In [1]:
# The datetime library is something you should already have from Anaconda.
from datetime import datetime

The components of the date are accessible via the object's attributes.

In [13]:
datetime.__dict__

dict_proxy({'__add__': <slot wrapper '__add__' of 'datetime.datetime' objects>,
            '__doc__': 'datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])\n\nThe year, month and day arguments are required. tzinfo may be None, or an\ninstance of a tzinfo subclass. The remaining arguments may be ints or longs.\n',
            '__eq__': <slot wrapper '__eq__' of 'datetime.datetime' objects>,
            '__ge__': <slot wrapper '__ge__' of 'datetime.datetime' objects>,
            '__getattribute__': <slot wrapper '__getattribute__' of 'datetime.datetime' objects>,
            '__gt__': <slot wrapper '__gt__' of 'datetime.datetime' objects>,
            '__hash__': <slot wrapper '__hash__' of 'datetime.datetime' objects>,
            '__le__': <slot wrapper '__le__' of 'datetime.datetime' objects>,
            '__lt__': <slot wrapper '__lt__' of 'datetime.datetime' objects>,
            '__ne__': <slot wrapper '__ne__' of 'datetime.datetime' objects>,
            '__new__': <function __new__>,
            '__radd__': <slot wrapper '__radd__' of 'datetime.datetime' objects>,
            '__reduce__': <method '__reduce__' of 'datetime.datetime' objects>,
            '__repr__': <slot wrapper '__repr__' of 'datetime.datetime' objects>,
            '__rsub__': <slot wrapper '__rsub__' of 'datetime.datetime' objects>,
            '__str__': <slot wrapper '__str__' of 'datetime.datetime' objects>,
            '__sub__': <slot wrapper '__sub__' of 'datetime.datetime' objects>,
            'astimezone': <method 'astimezone' of 'datetime.datetime' objects>,
            'combine': <method 'combine' of 'datetime.datetime' objects>,
            'ctime': <method 'ctime' of 'datetime.datetime' objects>,
            'date': <method 'date' of 'datetime.datetime' objects>,
            'dst': <method 'dst' of 'datetime.datetime' objects>,
            'fromtimestamp': <method 'fromtimestamp' of 'datetime.datetime' objects>,
            'hour': <attribute 'hour' of 'datetime.datetime' objects>,
            'isoformat': <method 'isoformat' of 'datetime.datetime' objects>,
            'max': datetime.datetime(9999, 12, 31, 23, 59, 59, 999999),
            'microsecond': <attribute 'microsecond' of 'datetime.datetime' objects>,
            'min': datetime.datetime(1, 1, 1, 0, 0),
            'minute': <attribute 'minute' of 'datetime.datetime' objects>,
            'now': <method 'now' of 'datetime.datetime' objects>,
            'replace': <method 'replace' of 'datetime.datetime' objects>,
            'resolution': datetime.timedelta(0, 0, 1),
            'second': <attribute 'second' of 'datetime.datetime' objects>,
            'strptime': <method 'strptime' of 'datetime.datetime' objects>,
            'time': <method 'time' of 'datetime.datetime' objects>,
            'timetuple': <method 'timetuple' of 'datetime.datetime' objects>,
            'timetz': <method 'timetz' of 'datetime.datetime' objects>,
            'tzinfo': <attribute 'tzinfo' of 'datetime.datetime' objects>,
            'tzname': <method 'tzname' of 'datetime.datetime' objects>,
            'utcfromtimestamp': <method 'utcfromtimestamp' of 'datetime.datetime' objects>,
            'utcnow': <method 'utcnow' of 'datetime.datetime' objects>,
            'utcoffset': <method 'utcoffset' of 'datetime.datetime' objects>,
            'utctimetuple': <method 'utctimetuple' of 'datetime.datetime' objects>})

<a id="timedelta"></a>
## `timedelta()`
---

Suppose we want to add time to a date or subtract time from it. Maybe we are using time as an index and want to get everything that happened a week before a specific observation.

We can use a `timedelta` object to shift a datetime object. Here's an example:

In [29]:
# Import timedelta() from datetime library.
from datetime import timedelta

Datetime's `.now()` function will give you the datetime object of this very moment.

In [15]:
datetime.now()

datetime.datetime(2018, 7, 23, 10, 22, 22, 867000)

The current time is particularly useful when using `timedelta()`.

In [23]:
timedelta(-1, 867000)

datetime.timedelta(9, 3000)

> _Note: The largest value a `timedelta()` can hold is `days`. For instance, you can't say you want your offset to be two years, 44 days, and 12 hours; you have to convert those years to days._

You can read more in the `timedelta()` category [here](https://docs.python.org/2/library/datetime.html).

<a id="load-the-ufo-reports-data"></a>
## Load the UFO Reports Data
---

We can practice using datetime functions and objects with the UFO reports data.

In [24]:
# Get a data set from the internet.
import pandas as pd
ufo = pd.read_csv('http://bit.ly/uforeports')

In [26]:
ufo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
City               18216 non-null object
Colors Reported    2882 non-null object
Shape Reported     15597 non-null object
State              18241 non-null object
Time               18241 non-null object
dtypes: object(5)
memory usage: 712.6+ KB

The `Time` column starts off as an object.

In [8]:
# A:

<a id="pandas-pddatetime"></a>
## Pandas' `pd.datetime`
---

Using Pandas, we can convert columns of data from string objects into date objects with the `pd.to_datetime()` function.

> **Note**: Dates can be tricky to parse, as they come in many formats. The `to_datetime()` function comes with a keyword argument, `infer_datetime_format`, that can be particularly useful for parsing dates.

In [35]:
ufo['Time'] = pd.to_datetime(ufo['Time'], infer_datetime_format=True)
ufo['Time']

0       1930-06-01 22:00:00
1       1930-06-30 20:00:00
2       1931-02-15 14:00:00
3       1931-06-01 13:00:00
4       1933-04-18 19:00:00
5       1934-09-15 15:30:00
6       1935-06-15 00:00:00
7       1936-07-15 00:00:00
8       1936-10-15 17:00:00
9       1937-06-15 00:00:00
10      1937-08-15 21:00:00
11      1939-06-01 20:00:00
12      1939-06-30 20:00:00
13      1939-07-07 02:00:00
14      1941-06-01 13:00:00
15      1941-07-02 11:30:00
16      1942-02-25 00:00:00
17      1942-06-01 22:30:00
18      1942-07-15 01:00:00
19      1943-04-30 23:00:00
20      1943-06-01 15:00:00
21      1943-08-15 00:00:00
22      1943-08-15 00:00:00
23      1943-10-15 11:00:00
24      1944-01-01 10:00:00
25      1944-01-01 12:00:00
26      1944-01-01 12:00:00
27      1944-04-02 11:00:00
28      1944-06-01 12:00:00
29      1944-06-30 10:00:00
                ...
18211   2000-12-28 18:00:00
18212   2000-12-28 18:20:00
18213   2000-12-28 19:10:00
18214   2000-12-29 00:00:00
18215   2000-12-29 09:00:00
18216   2000-12-29 16:10:00
18217   2000-12-29 19:30:00
18218   2000-12-29 20:00:00
18219   2000-12-29 20:30:00
18220   2000-12-29 20:30:00
18221   2000-12-29 20:50:00
18222   2000-12-29 21:00:00
18223   2000-12-29 22:00:00
18224   2000-12-29 23:30:00
18225   2000-12-30 10:00:00
18226   2000-12-30 22:00:00
18227   2000-12-30 22:00:00
18228   2000-12-31 04:00:00
18229   2000-12-31 11:45:00
18230   2000-12-31 20:00:00
18231   2000-12-31 20:00:00
18232   2000-12-31 20:30:00
18233   2000-12-31 21:00:00
18234   2000-12-31 22:00:00
18235   2000-12-31 23:00:00
18236   2000-12-31 23:00:00
18237   2000-12-31 23:00:00
18238   2000-12-31 23:45:00
18239   2000-12-31 23:45:00
18240   2000-12-31 23:59:00
Name: Time, Length: 18241, dtype: datetime64[ns]

<a id="the-dt-attribute"></a>
### The `.dt` Attribute

Pandas' datetime columns have a `.dt` attribute that allows you to access attributes specific to dates. For example:

```python
ufo.Time.dt.day
ufo.Time.dt.month
ufo.Time.dt.year
ufo.Time.dt.weekday_name
```

And there are many more!

In [37]:
ufo.Time.dt.weekday_name

0           Sunday
1           Monday
2           Sunday
3           Monday
4          Tuesday
5         Saturday
6         Saturday
7        Wednesday
8         Thursday
9          Tuesday
10          Sunday
11        Thursday
12          Friday
13          Friday
14          Sunday
15       Wednesday
16       Wednesday
17          Monday
18       Wednesday
19          Friday
20         Tuesday
21          Sunday
22          Sunday
23          Friday
24        Saturday
25        Saturday
26        Saturday
27          Sunday
28        Thursday
29          Friday
           ...
18211     Thursday
18212     Thursday
18213     Thursday
18214       Friday
18215       Friday
18216       Friday
18217       Friday
18218       Friday
18219       Friday
18220       Friday
18221       Friday
18222       Friday
18223       Friday
18224       Friday
18225     Saturday
18226     Saturday
18227     Saturday
18228       Sunday
18229       Sunday
18230       Sunday
18231       Sunday
18232       Sunday
18233       Sunday
18234       Sunday
18235       Sunday
18236       Sunday
18237       Sunday
18238       Sunday
18239       Sunday
18240       Sunday
Name: Time, Length: 18241, dtype: object

<a id="timestamps"></a>
## Timestamps
---

Timestamps are useful objects for comparisons. You can create a timestamp object with the `pd.to_datetime()` function and a string specifying the date. These objects are especially helpful when you need to perform logical filtering with dates.

In [42]:
def timestamps(x):
    print pd.to_datetime(x, infer_datetime_format=True)

In [45]:
timestamps('23/jul/2018')

2018-07-23 00:00:00

In [12]:
# Use that timestamp for a comparison.

<a id="additional-resources"></a>
## Additional Resources
---
- For more information about Pandas' datetime library, search for `.dt` [here](http://pandas.pydata.org/pandas-docs/stable/api.html).
- Here is [an example](https://github.com/samuel-stack/Portfolio/blob/master/Moving_Violations_VS_Speed_Traps/Granger%20Causality%20test%20.ipynb) of a GCT executed on deconstructed data from Sam Stack's capstone project.